

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    .footer {
        position:absolute;
        background-color: $color1;
        color: black;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: start;
        h3 {
            font-size: 35px;
            font-family: Lemonada bold;
        }
        .menu {
            grid-column: span 1;
        }
        .menu ul , .contact p{
            list-style-type: none;
            padding: 0;
            text-align: left;
            font-family: Lemonada SemiBold;
        }
        .menu ul li a, .contact span {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 20px;
        }
        .social, .contact {
            grid-column: span 2;
        }
        .social, .sponsor {
            text-align: center;
        }   
        .social-media {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 40px;
            gap: 7%;   
            a{height: 50px;}
            i{color: black;}
        }
        .sponsors {
            display: grid;
            grid-column: span 1;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-items: center;
            justify-content: center;
            width: 0px;
            position: relative;
            left: 50%;
        }
        .sponsors img {
            height: 50px;
        }
        .footer-note {
            grid-column: span 8;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            font-family: Lemonada SemiBold;
        }
    }
}

@media (max-width: 1500px){
    .programme{
      grid-template-columns: 1fr;  }
  }
  @media (max-width: 1024px) {
    footer{
      .footer{
        grid-template-columns: repeat(17, 1fr);
       div {
        text-align: center;
        }
        .menu{
            grid-area: 1 / 2 / 1 / 7;
        }
        .social{
            grid-area: 1 / 7 / 1 / 12;
        }
        .contact {
            grid-area: 1 / 12 / 1 / 17;
        }
        .sponsor {
          text-align: center;
          grid-area: 2 / 2 / 2 / 17;
          grid-template-columns: repeat(4,1fr);
        }
        .sponsors {
          grid-template-columns: repeat(4,1fr);
        }
        .footer-note {
          text-align: center;
          grid-area:3/2/3/17;
        }
        .menu ul , .contact p{
            text-align: center;
        }
        .social-media {
            flex-direction: column;
        }
      }
    }
  }
  @media (max-width: 600px) { 
    footer{
      .shape-divider-bottom3 svg {
        height: 20px;
      }
      .footer{
        grid-template-columns: repeat(1, 1fr);
        .menu{
          grid-area: 1 / 1 / 1 / 1;
        }
        .social{
            grid-area: 2 / 1 / 2 / 1;
        }
        .contact {
            grid-area: 3 / 1 / 3 / 1;
        }
        .sponsor {
          grid-area: 4 / 1 / 4 / 1;
          grid-template-columns: repeat(4,1fr);
        }
        .footer-note {
          grid-area: 5 / 1 / 5 / 1;
        }
        .sponsors {
          grid-template-columns: repeat(2,1fr);
        }
      }
    }
  }